body {
    padding: 2px;
    background-color: ;
}

header {
    display: flex;
    align-items: center;
    text-align:center;
    justify-content:center;
    background-color: #F9F6ED;
    color: #361C12;
    height: 80px;
    font-family: "Headland One", serif;
    font-size: 15px;
    border-radius: 5px;
}


